# Dependencias base
streamlit
joblib
pandas
pyarrow
folium
streamlit-folium
scikit-learn
matplotlib
opencv-python-headless
requests

# PyTorch
torch
torchvision

# Detectron2
# Repositorio de wheels: https://github.com/MrMirOS/torch_packages_builder
--extra-index-url https://miropsota.github.io/torch_packages_builder
detectron2
